.hero {
  height: 30vh;
  background: url("../img/hero.png")
  center no-repeat;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  background-size: cover;
  .hero-content {
    color: lighten($grey, 20%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: .6em;
    padding-top: 55px;
    font-family: $body-font;
    h2 {
      margin-top: 15px;
    }
  }
}


.gallery-head {
  margin: 40px;
  text-align: center;
  font-family: $body-font;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  .gallery-item {
    height: 305px;
    width: 305px;
    max-width: 350px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid black;
    &:nth-child(4n) {
      width: 370px;
      object-position: top;
    }
  }
}
#contact {
  padding-left: 20px;
  text-align: center;
  font-family: $body-font;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 68vh;
  width: 100%;
  padding: 10px;
  .info {
    width: 100%;
  }
  ul {
    line-height: 35px;
    li {
      text-align: center;
      padding: 10px;
      width: 100%;
    }
  }
  #profile {
    border-radius: 50%;
    border: 2px solid $black;
    width: 230px;
    height: 230px;
  }
}

.contact-head {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
}
.contact-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 2px;
    margin-top: 4px;
    margin-left: 10px;
  }
  input {
    border: 2px solid $black;
    border-radius: 4px;
    width: 230px;
    margin: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  textarea {
    border: 2px solid $black;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 15px;
  }
}

.send-animation {
  position: relative;
  width: 100%;
  height: 5vh;
  #clicky {
    position: absolute;
    right: 28%;
    top: 27%;
    font-size: 13px;
  }
  .send {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 11%;
    transition: right .45s ease;
  }
  .sent {
    right: 80%;
  }
}
