.hero {
  height: 40vh;
  background: url("../img/hero.png") center no-repeat;
  display: flex;
  justify-content: center;
  .hero-content {
    color: $white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: .8em;
    padding-top: 55px;
    font-family: $body-font;
    position: relative;
    h2 {
      margin-top: 15px;
    }
    #hero-btn {
      position: absolute;
      top: 55%;
      left: 32%;
      height: 50px;
      width: 130px;
      background-color: $white;
      border-radius: 4px;
      font-size: 1em;
      font-family: $body-font;
    }
  }
}
