.hero {
  height: 30vh;
  background: url("../img/hero.png") center no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  .hero-content {
    color: $white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: .8em;
    padding-top: 55px;
    font-family: $body-font;
    h2 {
      margin-top: 15px;
    }
    #hero-btn {
      align-self: center;
      justify-content: flex-end;
      margin-top: 50px;
      height: 50px;
      width: 130px;
      background-color: $white;
      border-radius: 4px;
      font-size: 1em;
      font-family: $body-font;
    }
  }
}

.gallery-head {
  margin: 40px;
  text-align: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  .gallery-item {
    height: 30vh;
    max-width: 100%;
    object-fit: cover;
    margin: 20px;
    border: 2px solid black;
  }
}
