// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// menu cross btn

.expand-btn {
  margin-right: 10px;
  position: relative;
  border-radius: 4px;
  height: $x-length + ($x-pad * 2);
  width:  $x-length + ($x-pad * 2);
  transition: transform .5s ease;
}

.x-btn {
  box-sizing: border-box;
  background: $dark;
  position: absolute;
}
.x-vert {
  height: $x-length;
  width: $x-thickness;
  top: $x-pad;
  left: 50%;
  transform: translateX(-50%);
}
.x-horiz {
  height: $x-thickness;
  width: $x-length;
  left: $x-pad;
  top: 50%;
  transform: translateY(-50%);
}
.close-btn {
  transform: rotate(45deg);
}
 //HERO BTN
 #hero-btn {
   align-self: center;
   justify-content: flex-end;
   margin-top: 15px;
   height: 26px;
   width: 90px;
   background-color: $pink;
   color: $dark;
   font-weight: bold;
   border-radius: 4px;
   border: 1px solid $dark;
   font-size: 1em;
   font-family: $body-font;
 }

 @media screen and (min-width: $medium) {
   #hero-btn {
     margin-top: 35px;
     height: 35px;
     width: 100px;
     font-size: 1.3em;
   }
 }
